.histo{
    padding: 0.5rem;
}
.row {
    margin: 0.5rem;
}

.CmdItemRow  {
    margin-left: 5rem;
    padding: 1rem;
    background: #2d7ef8;
    border-radius: .75rem 0 .75rem .75rem;
    /*box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;*/
}
.PhoebeRow {
    margin-right: 5rem;
    padding: 1rem;
    background: #f82d60;
    border-radius: 0 .75rem .75rem .75rem;
}
.bold{
    font-weight: bold;
}
.dateTime{
    font-style: italic;
    color: #333;
    font-size: 0.8rem;
}
.bottomRowCmd{
    padding: .5rem;
}

/* Time plugin */
.timePlugin_clock_light{
    background-color: rgb(231, 131, 131);
    border-radius: 5px;
    padding: 1rem;
}
.timePlugin_clock_dark{
    background-color: rgb(59, 33, 33);
    border-radius: 5px;
    padding: 1rem;
}
.timePlugin_clockLbl{
    font-weight: bold;
    font-size: 3rem;
    padding: .5rem ;
}
/* Ping plugin */
.pingPlugin_pingBox{
    background-color: rgb(59, 33, 33);
    color: #ddd;
    border-radius: 5px;
    padding: 1rem;
}